body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;
}

.container {
    text-align: center;
    margin-top: 40px;
}

.tac {
    text-align: center;
}

#song {
    display: none;
    opacity: 0;
}


#img-container {
    width: 500px;
    margin: 0 auto;
}

.img-responsive {
    width: 100%;
    height: auto;
}